<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生信息管理系统</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery-2.2.1.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
<div class="container" id="stuManager">
    <ul class="row" id="ulMessage">
        <li class="li_h">
            <span>学号</span><span>姓名</span><span>性别</span><span>总分</span><span>操作</span>
        </li>
    </ul>

    <script type="text/template" id="item-template">
        <span><%= StuID %></span>

        <span class="show">
                <div class="disp"><%= Name %></div>
                <div class="edit">
                    <input type="text" name="Name" id="Name" size="8" class="input-txt">
                </div>
            </span>

        <span class="show">
                <div class="disp"><%= Sex %></div>
                <div class="edit">
                    <select name="Sex" id="Sex">
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
            </span>

        <span class="show">
                <div class="disp"><%= Score %></div>
                <div class="edit">
                    <input type="text" name="Score" id="Score" size="8" class="input-txt">
                </div>
            </span>

        <span><a href="#">删除</a></span>
    </script>

    <div class="row" id="input">
        学号：<input type="text" readonly="readonly" name="StuID" id="StuID" size="10" class="input-txt"><br/>
        姓名：<input type="text" name="Name" id="Name" size="15" class="input-txt"><br/>
        性别：
            <select name="Sex" id="Sex">
                <option value="男">男</option>
                <option value="女">女</option>
            </select><br/>
        总分：<input type="text" name="Score" id="Score" size="8" class="input-txt"><br/>

        <input id="btnAdd" class="btn btn-success" type="button" value="增加">
        <p id="pStatus" class="alert alert-error"></p>
    </div>
</div>
</body>
</html>